@model Equipe
@{
    ViewData["Title"]="equipes";
}
<form method="POST"  action='@Url.Action("cadastrar")' enctype="multipart/form-data">
    <label>ID</label>
    <input type="text" name="IdEquipe" />
    <label>Nome</label>
     <input type="text" name="Nome" />
     <label>Imagem</label>
      <input type="file" name="Imagem" id="Imagem" />
      <button type="submit">Cadastrar</button>
</form>
<table class="table table-strped table-responsive">
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
    </thead>
    <tbody>
        @foreach (Equipe equipe in ViewBag.equipes)
        {
            
            <tr>
                <td>@equipe.IdEquipe</td>
                <td>@equipe.Nome</td>
                <td>
                    <img src="/img/Equipes/@equipe.Imagem" alt="imagem da equipe @equipe.Nome" width="40">
                    <td><a asp-area="Link para excluir uma equipe" asp-controller="Equipe" asp-action="Excluir"
                        asp-route-id="@equipe.IdEquipe">Excluir</a></td>
                </td>
            </tr>
        }
    </tbody>
</table>